*.class
**/target
**/webapp/userfiles
**/WEB-INF/classes
**/logs/*.log*

.settings
.apt_generated
.factorypath
.classpath
.project
.vscode

.idea
*.ipr
*.iml
*.iws
*.lic

.DS_Store
Thumbs.db
rebel.xml

*.epoch